.comment-wrapper {
  background-color: rgba(20, 28, 32, .7);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 12;
}

.comments {
  --width: 50vw;
  position: absolute;
  left: calc(var(--width) / 2);
  top: 30%;
  width: var(--width);
}

.comments button {
  margin-bottom: 20px;
}

.single-comment {
  margin-top: 12px;
}

.single-comment .teacher {
  font-size: 0.8em;
  font-style: italic;
}

.comment-wrapper.hide {
  display: none;
}
